@media screen and (min-width: 90rem){
  body{
    background-image: url(/images/bg-mobile.svg);
    background-size: 100% auto;
    background-position: top center;
    background-color: var(--bg-clr-purple);
  }


  .huddle-logo{
    margin: 0;
    padding: 1.75rem 1rem;
    max-width: 14rem;
  }

  .container .page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 1.25rem;
  }

 .title-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    margin-top: 4rem;
  }

  .img-mockup img{
    display: block;
    object-fit: contain;
    max-width: 20.6rem;
  }

  .title-content h1{
    font-weight: 500;
    font-size: 1.813rem;
    padding: 1.25rem; 
    margin-bottom: 1rem;
}

 .title-content p{
    padding: 0 1.25rem;
 }
  .btn-register{
    margin: 1rem auto 3.5rem;
    box-shadow: 0 0.25rem 0.5rem 0 hsla(213, 100%, 4%, 0.35);
  }

 .social-icon{
    display: flex;;
    margin-left: 15.5rem; 
  }

  .social-media{
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
  }
}

