 :root{
  --bg-clr-purple: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
  --ffh-poppins: 'Poppins', sans-serif;
  --ffb-open-sans: 'Open Sans';
  --font-clr: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  overflow-y: hidden;
} */

body{
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-clr-purple);
}

.huddle-logo{
  width: 25rem;
  padding: calc(1.75rem + 1.75rem);
  margin-inline-start: 0;
}

.img-mockup{
  width: 30rem;
}

.container .page-content { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin: calc(8.5rem - 4rem);
  column-gap: 20rem;
}

.title-content{
  margin-inline-start: 0;
}

.title-content h1, p{
  color: var(--font-clr);
}

.title-content h1{
  padding-bottom: 1.1rem;
  max-width: 25rem;
  font-family: var(--ffh-poppins);
  font-weight: 600;
}

.title-content p{
  max-width: 29rem;
  margin-bottom: 1.5rem;
  font-family: var(--ffb-open-sans);
  font-size: 1rem;
  font-weight: 400;
  opacity: 80%;
}

.btn-register{
  width: 11.95rem;
  padding: 0.75rem 0 0.95rem 0;
  border-radius: 5rem;
  font-family: var(--ffb-open-sans);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--font-clr);
  color: var(--bg-clr-purple);
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.btn-register:hover{
  background-color: var(--clr-magenta);
  color: var(--font-clr);
  box-shadow: 0 0.3rem 0.5rem 0 hsla(0, 0%, 12%, 0);
}

.btn-register:active{
  background-color: var(--clr-magenta);
  color: var(--bg-clr-purple);
}

.social-icon{
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  margin-right: 10rem;
  padding: 2.3rem;
}

.social-media{
  color: var(--font-clr);
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.sm-facebook:hover{
  color: var(--clr-magenta); 
}


.sm-twitter:hover{
  color: var(--clr-magenta); 
}

.sm-instagram:hover{
  color: var(--clr-magenta); 
}

@media screen and (prefers-reduced-motion: reduce){
  .btn-register{
    animation-duration: 0.001ms;
    transition-duration: 0.001ms;
  }
}