 :root{
  --bg-clr-purple: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
  --ffh-poppins: 'Poppins', sans-serif;
  --ffb-open-sans: 'Open Sans';
  --font-clr: hsl(0, 0%, 100%);
  --box-shadow: hsla(213, 100%, 4%, 0.35);
}

body{
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-clr-purple);
}

.huddle-logo{
  width: 15rem;
  padding: calc(0.75rem + 1.75rem);
  margin-inline-start: 3.5rem;
  margin-block: 1.50rem 3.5rem;
}

.container .page-content{
  display: flex;
  margin-inline-start: 6.5rem;
  margin-block: 1rem;
  column-gap: 3.5rem
}

.page-content .img-mockup img{
  width: max(55vw, 55rem);
  max-width: 100%;
}

.page-content .title-content{
  margin-block-start: 3.5rem;
}

.page-content .title-content h1{
  width: max(20vw, 25rem);
  margin-block-end: 1.5rem;
  color: var(--font-clr);
  font-family: var(--ffh-poppins);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.page-content .title-content p{
  width: max(20rem, 100%);
  margin-block-end: 1.5rem;
  color: var(--font-clr);
  font-family: var(--ffb-open-sans);
  font-weight: 400;
  letter-spacing: 0.01rem;
  opacity: 90%;
}

.btn-register{
  width: 11.95rem;
  padding: 0.75rem 0 0.95rem 0;
  border-radius: 5rem;
  font-family: var(--ffb-open-sans);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--font-clr);
  color: var(--bg-clr-purple);
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.btn-register:hover{background-color: var(--clr-magenta);color: var(--font-clr);box-shadow: 0 0 3rem 0.5rem 0 var(--box-shadow);}
.btn-register:active{background-color: var(--clr-magenta);color: var(--bg-clr-purple);
}

.social-icon .social-media{display: flex; flex-direction:row; justify-content: flex-end;margin-inline-end: 8.5rem; margin-block-start: 4rem;column-gap: 2rem;}
.social-media i{color: var(--font-clr);padding-inline: 1rem;padding-block: 1rem;border: 1px solid var(--font-clr);border-radius: 2.5rem;}
.social-media .sm:hover{color:var(--clr-magenta)}

@media screen and (prefers-reduced-motion: reduce){
.btn-register{
  animation: none;
  transition: none;
}
}
